{% extends "base.html" %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>
                All Products
            </span>

            <a class="btn btn-primary" href="{% url 'product.add' %}">Add New Product</a>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th scope="col">Edit</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Special</th>
                    <th scope="col">Special</th>
                    <th scope="col">Category</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Material</th>
                    <th scope="col">Quantity Type</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Extra Quantity</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Identifier</th>
                    <th scope="col">Location</th>
                    <th scope="col">Alert Before</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td scope="row"><a href="{% url 'product.edit' product.pk %}" class=" btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <img src="{{ product.image }}" height="50" alt="">
                        </td>
                        <td scope="row">{{ product.name }}</td>
                        <td scope="row">{{ product.stock_price }}</td>
                        <td scope="row">{{ product.price }}</td>
                        <td scope="row">{{ product.special }}</td>
                        <td scope="row">{{ product.category }}</td>
                        <td scope="row">{{ product.seller }}</td>
                        <td scope="row">
                            {% for material in product.material.all %}
                                <span class="badge badge-info">{{ material.name }}</span>
                            {% endfor %}

                        </td>
                        <td scope="row">{{ product.quantity_type }}</td>
                        <td scope="row">{{ product.quantity }}</td>
                        <td scope="row">{{ product.extra_quantity }}</td>
                        <td scope="row">{{ product.barcode }}</td>
                        <td scope="row">{{ product.identifier }}</td>
                        <td scope="row">{{ product.location }}</td>
                        <td scope="row">{{ product.alert_if_lower_than }} {{ product.quantity_type.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% if products.has_other_pages %}
        <ul class="pagination mx-auto">
            {% if products.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ products.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><a class="page-link">&laquo;</a></li>
            {% endif %}
            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="active page-item"><a class="page-link">{{ i }} <span
                            class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ products.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><a class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}


{% endblock %}