{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>
                Add New Product
            </span>

            <a class="link" href="{% url 'product.all' %}">All Products</a>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'product.edit' product.pk %}">
                {% csrf_token %}
                <div class="row">
                    {#General#}
                    <div class="col-12 col-md-6 mb-4">
                        <div class="card">
                            <div class="card-header">General information</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">{{ form.name|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.location|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.identifier|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.barcode|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">
                                        {#                                        {{ form.expire|as_crispy_field }}#}

                                        <div id="dpick">
                                            <v-app>
                                                <v-menu
                                                        v-model="menu1"
                                                        :close-on-content-click="true"
                                                        transition="scale-transition"
                                                        offset-y
                                                        max-width="290px"
                                                        min-width="auto"
                                                >
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field
                                                                name="expire"
                                                                v-model="exp"
                                                                label="Expire Date"
                                                                outlined
                                                                persistent-hint
                                                                v-bind="attrs"
                                                                v-on="on"
                                                        ></v-text-field>
                                                    </template>
                                                    <v-date-picker
                                                            v-model="exp"
                                                            no-title
                                                            @input="menu1 = false"
                                                    ></v-date-picker>
                                                </v-menu>
                                            </v-app>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6">{{ form.image|as_crispy_field }}</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {# Pricing #}
                    <div class="col-12 col-md-6 mb-4">
                        <div class="card">
                            <div class="card-header">Pricing ($)</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">{{ form.stock_price|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.price|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.special|as_crispy_field }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Relations #}
                    <div class="col-12 col-md-6 mb-4">
                        <div class="card">
                            <div class="card-header">Relations</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">{{ form.category|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.seller|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.material|as_crispy_field }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Quantity #}
                    <div class="col-12 col-md-6 mb-4">
                        <div class="card">
                            <div class="card-header">Quantity</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">{{ form.quantity_type|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.quantity|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.extra_quantity|as_crispy_field }}</div>
                                    <div class="col-12 col-md-6">{{ form.alert_if_lower_than|as_crispy_field }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Update Product</button>
            </form>
        </div>
    </div>

    <style>
        .v-application--wrap {
            min-height: unset;
        }
    </style>
    <script>
        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: '#dpick',
            vuetify: new Vuetify(),
            data: () => {
                return {
                    exp: new Date().toISOString().split("T")[0],
                    menu1: false
                }
            }
        })
    </script>
{% endblock %}