{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    Add New Seller
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'seller.all' %}">
                        {% csrf_token %}
                        <input type="hidden" name="method" value="post">
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Add Seller</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 ">
            <div class="card">
                <div class="card-header">
                    All Sellers
                </div>
                <div class="card-body">
                    <table class="table table-responsive-md table-striped">
                        <thead>
                        <tr>
                            <th>Seller Name</th>
                            <th>Seller Phone</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for seller in sellers %}
                            <tr>
                                <td>{{ seller.name }}</td>
                                <td>{{ seller.phone }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm delete-btn" data-toggle="modal"
                                            data-target="#deleteModal" data-id="{{ seller.id }}">
                                        Delete
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm edit-btn" data-toggle="modal"
                                            data-target="#updateModal" data-id="{{ seller.id }}"
                                            data-phone="{{ seller.phone }}" data-name="{{ seller.name }}">
                                        Edit

                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if sellers.has_other_pages %}
                        <ul class="pagination mx-auto">
                            {% if sellers.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ sellers.previous_page_number }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled page-item"><a class="page-link">&laquo;</a></li>
                            {% endif %}
                            {% for i in sellers.paginator.page_range %}
                                {% if sellers.number == i %}
                                    <li class="active page-item"><a class="page-link">{{ i }} <span
                                            class="sr-only">(current)</span></a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if sellers.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ sellers.next_page_number }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="disabled page-item"><a class="page-link">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Seller ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    If you deleted this seller you will not be able to filter products that belongs to it.
                </div>
                <form action="{% url 'seller.all' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="method" value="delete">
                    <input type="hidden" name="seller_id" id="seller_id_to_delete">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Ok Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
         aria-labelledby="updateModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Seller</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'seller.all' %}">
                    {% csrf_token %}
                    <input type="hidden" name="method" value="put">
                    <input type="hidden" name="seller_id" id="seller_id_to_edit">

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="seller_name_edit">Seller Name</label>
                            <input type="text" class="form-control" id="seller_name_edit"
                                   placeholder="Enter seller name" name="name">

                        </div>
                        <div class="form-group">
                            <label for="seller_phone_edit">Seller Phone</label>
                            <input type="text" name="phone" class="form-control" id="seller_phone_edit"
                                   placeholder="Enter phone">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update Seller</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".delete-btn").click(function () {
                var seller_id = $(this).attr("data-id");
                $("#seller_id_to_delete").val(seller_id)
            });

            $(".edit-btn").click(function () {
                var seller_name = $(this).attr("data-name");
                var seller_phone = $(this).attr("data-phone");
                var seller_id = $(this).attr("data-id");
                $("#seller_id_to_edit").val(seller_id)
                $("#seller_name_edit").val(seller_name);
                $("#seller_phone_edit").val(seller_phone);
            })
        })
    </script>
{% endblock %}


